{% load static %}
<html>
    <head>
        <title>jane's Life Cycle</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'plan' %}">PLAN <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'improvement' %}">Self-improvement</a>
            <a class="nav-item nav-link" href="{% url 'book' %}">왜 일하는가?</a>
          </div>
        </div>
      </nav>

      <h1 id="home_title">jane's life cycle</h1>
      <div class="grid">
            <div class="grid_item first">
              <h5>1998년</h5>
              <span>태어남</span>
            </div>
            <div class="grid_item two">
              <h5>2005년</h5>
              <span>신가초등학교 입학</span>
            </div>
            <div class="grid_item third">
              <h5>2011년</h5>
              <span>아주중학교 입학</span>
            </div>
            <div class="grid_item fourth">
              <h5>2014년</h5>
              <span>한양사대부고 입학</span>
            </div>
            <div class="grid_item fourth">
              <h5>2017년(20살)</h5>
              <span>한양대ERICA 입학</span>
            </div>
            <div class="grid_item fiveth">
              <h5 id="point_color">2019년(현재 22살)</h5>
                <li id="present">ESP(Embedded Security & Privacy) Lab. 인턴 </li>
                <li id="present">멋쟁이 사자처럼 7기 운영진</li>
            </div>
            <div class="grid_item sixth">
              <h5>2021년</h5>
              <span>대학원 입학</span>
            </div>
            <div class="grid_item seventh">
              <h5>2023년(25살)</h5>
              <span>졸업과 동시에 세계여행 떠나기</span>
            </div>
            <div class="grid_item eighth">
              <h5>2028년(30살)</h5>
              <span>결혼하기</span>
            </div>
            <div class="grid_item ninth">
              <h5>2038년(40살)</h5>
              <span>학교에 기부금 내기</span>
            </div>
            <div class="grid_item tenth">
              <h5>2058년(60살)</h5>
              <span>내 이름의 재단 설립</span>
            </div>
            
      </div>
        
    </body>
</html>